$primary: #0068e6;
$white: #fff;
$black: #000;
$light-blue: #1a9cfc;
$button-bg: #f5f6fa;
$overview-card-border: #e4e7ec;
$toast-border: #c5cedd;
$toast-color: #5d6a71;
$input-border-clr: #79c5fd;
$submission-bg: rgb(218 212 212 / 52%);
$search-btn-border: #ccc;
$secondary-btn-bg: $white;
$secondary-btn-hover: #f5f5f5;
$table-hover-clr: #f0f0f0;
$table-active-clr: #cde2f7;
$inprogress: rgb(255 152 0 / 14%);
$inqueue: #5d6a71;
$completed: #218e52;
$processed: #0068e6;
